[submodule "bundle/kchmck-vim-coffee-script"]
	path = bundle/kchmck-vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/raimondi-delimitmate"]
	path = bundle/raimondi-delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/tpope-vim-unimpaired"]
	path = bundle/tpope-vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tpope-vim-rake"]
	path = bundle/tpope-vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "bundle/msanders-cocoa"]
	path = bundle/msanders-cocoa
	url = http://github.com/msanders/cocoa.vim.git
[submodule "bundle/davidoc-taskpaper-vim"]
	path = bundle/davidoc-taskpaper-vim
	url = http://github.com/davidoc/taskpaper.vim.git
[submodule "bundle/astashov-vim-ruby-debugger"]
	path = bundle/astashov-vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/fholgado-minibufexpl"]
	path = bundle/fholgado-minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle-vim-textobj-rubyblock"]
	path = bundle-vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/scrooloose-syntastic"]
	path = bundle/scrooloose-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/greyblake-vim-preview"]
	path = bundle/greyblake-vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "bundle/ecomba-vim-ruby-refactoring"]
	path = bundle/ecomba-vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/gregsexton-vimcalc"]
	path = bundle/gregsexton-vimcalc
	url = git://github.com/gregsexton/VimCalc.git
[submodule "bundle/tpope-vim-fugitive"]
	path = bundle/tpope-vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/sjl-gundo.vim"]
	path = bundle/sjl-gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/int3-vim-extradite"]
	path = bundle/int3-vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/vim-rebar"]
	path = bundle/vim-rebar
	url = https://github.com/mbbx6spp/vim-rebar.git
[submodule "bundle/jimenezrick-vimerl"]
	path = bundle/jimenezrick-vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/fs111-pydoc"]
	path = bundle/fs111-pydoc
	url = https://github.com/fs111/pydoc.vim.git
