[submodule "bundle/kchmck-vim-coffee-script"]
	path = bundle/kchmck-vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/raimondi-delimitmate"]
	path = bundle/raimondi-delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/oscarh-vimerl"]
	path = bundle/oscarh-vimerl
	url = git://github.com/oscarh/vimerl.git
[submodule "bundle/tpope-vim-unimpaired"]
	path = bundle/tpope-vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tpope-vim-rake"]
	path = bundle/tpope-vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "bundle/msanders-cocoa"]
	path = bundle/msanders-cocoa
	url = http://github.com/msanders/cocoa.vim.git
[submodule "bundle/davidoc-taskpaper-vim"]
	path = bundle/davidoc-taskpaper-vim
	url = http://github.com/davidoc/taskpaper.vim.git
[submodule "bundle/astashov-vim-ruby-debugger"]
	path = bundle/astashov-vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/fholgado-minibufexpl"]
	path = bundle/fholgado-minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
