[submodule "bundle/kchmck-vim-coffee-script"]
	path = bundle/kchmck-vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/raimondi-delimitmate"]
	path = bundle/raimondi-delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/oscarh-vimerl"]
	path = bundle/oscarh-vimerl
	url = git://github.com/oscarh/vimerl.git
[submodule "bundle/tpope-vim-unimpaired"]
	path = bundle/tpope-vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tpope-vim-rake"]
	path = bundle/tpope-vim-rake
	url = git://github.com/tpope/vim-rake.git
